@charset "utf8";

h1 {
    text-align: center;
    font-size: 26px;
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}

#expiration-box {
    box-sizing: border-box;
    height: 60px;
    width: 220px;
    margin: 30px auto 0;
}

#delete-box {
    box-sizing: border-box;
    height: 60px;
    width: 320px;
    margin: 10px auto 0;
}